.live-update {
    margin-top: 95px;
    /* --nav-height */
    width: 100%;
    background: linear-gradient(90deg, #142836, #0f2a36);
    color: #e9eef6;
    /* --clr-text */
    padding: .6rem .5rem;
    overflow: hidden;
    border-top: 1px solid rgba(255, 255, 255, .03);
    border-bottom: 1px solid rgba(255, 255, 255, .03);
    font-weight: 700;
    font-size: clamp(.78rem, .9vw, .95rem);
    text-align: center
}

.live-update .marquee {
    display: inline-block;
    white-space: nowrap;
    will-change: transform;
    animation: marquee 20s linear infinite;
}

@keyframes marquee {
    from {
        transform: translateX(100%)
    }

    to {
        transform: translateX(-100%)
    }
}