.live-update{
    margin-top:95px;
    width:100%;
    background:linear-gradient(90deg,#142836,#0f2a36);
    color:#e9eef6;
    padding:.6rem .5rem;
    overflow:hidden;
    font-weight:700;
    font-size:clamp(.78rem,.9vw,.95rem);
}

.marquee{
    display:flex;
    width:max-content;
    animation:scroll 20s linear infinite;
}

.marquee span{
    white-space:nowrap;
    padding-right:80px;
}

@keyframes scroll{
    from{transform:translateX(0);}
    to{transform:translateX(-50%);}
}
